@model IEnumerable<ASP.NETCoreMVCAPP.Models.Course>

@{
    ViewData["Title"] = "Список курсов";
}

<h1>Список курсов</h1>

<p>
    <a asp-action="Create">Добавить курс</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-controller="Groups" asp-action="ListGroupsForCourse" asp-route-id="@item.CourseId">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CourseId">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.CourseId">Детальнее</a> |
                <a asp-action="Delete" asp-route-id="@item.CourseId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
