@model IEnumerable<ASP.NETCoreMVCAPP.Models.Group>

@{
    ViewData["Title"] = $"Список групп для курса {(Model.Count() > 0 ? Model.First().Course.Name : "")}";
}

@if (Model.Count() > 0)
{
    <h1>Список групп для курса @Model.First().Course.Name</h1>
}
else
{
    <h1 style="color:orange">Отсутствуют группы для данного курса</h1>
}

<p>
    <a asp-action="Create">Добавить группу</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-controller="Students" asp-action="ListStudentsForGroup" asp-route-id="@item.GroupId">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GroupId">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.GroupId">Детальнее</a> |
                <a asp-action="Delete" asp-route-id="@item.GroupId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
